<% content_for :head do %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<% end %>

<h1>Chat Room</h1>

<%= line_chart message_stats_chart_path %>
<div class="row">
  <div class="col-sm-6">
    <div class="chat-wrapper">
      <div class="messages">
        <%= render Message.last_five %>
      </div>

      <% if current_user %>
        <%= form_for Message.new, remote: true do |f| %>
          <div class="input-group">
            <%= f.text_field :content, class: 'form-control', autocomplete: "off", 'data-user' => current_user.email %>
            <div class="input-group-btn">
              <%= f.submit "Send", class: 'btn btn-secondary' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %> to chat.
      <% end %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= pie_chart top_users_chart_path %>
  </div>
</div>
